
.user-profile {
  max-height: calc(100vh - 16vh);
}
.section-right {
  background-color: var(--bg-color);
  max-height: calc(100vh - 16vh);
}

.content {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.state {
  border: 2px solid rgba(0, 0, 0, 0.25);
}
.state img {
  width: 8vw;
  height: 8vw;
}
.a {
  color: var(--primary-color);
}
.order-title h3 {
  color: var(--light-red-color);
}
.state span {
  color: var(--light-red-color);
  font-size: 18px;
}
.alarams {
  border-left: 2px solid var(--light-red-color);
}

.alarams i {
  color: var(--red-color);

  margin-left: 2vw;
}
.alarams p{
  font-size: 2vw;
}

.profile-sidebar {
  border: 1px solid var(--light-border);
  border-radius: 5px;
}
.main-detail-profile {
  height: 10vh;
}

.main-detail-profile img {
  width: 7vh;
  border-radius: 50%;
}
.profile-detail h4 {
  font-size: 18px;
  width: 100%;
}
.profile-detail p {
  font-size: 15px;
  color: var(--secedery-color);
}
.profile-key {
  display: flex;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.profile-sidebar-btn .profile-key{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-sidebar-btn{
  transition: .40s;
  background-color: var(--light-red-color);
}
.profile-sidebar-btn:hover{
  background-color: var(--red-color);
  transform: scale(1.05);
}
.profile-sidebar-btn h4{
  text-align: center;
  width: 100%;
  color: white;
}
.profile-detail {
  height: 5.5vh;
  border-bottom: 2px solid var(--light-red-color);
  border-radius: 10px;
}
.profile-value {
  display: flex;
  align-items: center;
}

.ttxl{
  /* gap: 5px; */
}
/* change avatar/ */
.change-avatar button {
  color: white;
  background-color: var(--light-red-color);
  padding: 5px 7px;
  border: none;
  border-radius: 5px;
  transition: ease .4s;

}
.change-avatar button:hover{
  background-color: var(--red-color);
}
input[type=file]{
  border: 2px solid var(--light-border);
  padding: 5px;
  border-radius: 5px;

}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--light-red-color);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: var(--red-color);
}

/* chane profile */
.change-password,
.edit-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;

}
.change-password-form,
.edit-profile-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.change-password-form button,
.edit-profile-form button {
  color: white;
  background-color: var(--light-red-color);
  border: none;
  border-radius: 5px;
  transition:.40;
  padding: 5px 7px;
}
.change-password-form button:hover,
.edit-profile-form button:hover{
  background-color: var(--red-color);
}

/* change password */

@media (max-width: 575.98px) { 
  .alarams p {
    font-size: 3vh;
  }
  .change-avatar h4 {
    font-size: 18px;
  }
 }