@font-face {
  font-family: josefin;
  src: url('/public/JosefinSans-Regular.ttf');
}
:root{
  --bg-header-color:#EDF2F4;

  --bg-color: rgb(255,254,254);
  --light-border:rgb(0,0,0,0.25);
  --primary-color: #2B2D42;
  --secedery-color: #8D99AE;

  --red-color: #D90429;
  --light-red-color: #EF233C;
  --grean-color: #39ae00;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: josefin;
  scroll-behavior: smooth;
  
}
a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F3F4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Loading{
  width: 100vw;
  height: auto;
  background-color: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.data-cells{
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(5,1fr);
}

.cell{
  margin: 10px;
  border: 2px solid black;
  width: 15vw;
  height: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(231, 231, 231);
}
.cell h5{
  font-size: 25px;
  color: #d51c9e;
  /* margin-bottom: 30px; */
}

.cell p {
  height: 15vh;
  text-align: center;
}

.Err{
  text-align: center;
  font-size: 22px;
  color:red;
}
.fa-circle-check{
  color: green;
  font-size: 23px;
  
}
.fa-circle{
  color: rgb(227, 234, 32);
  border: 2px solid rgb(111, 111, 111);
  border-radius: 50%;
  font-size: 21px;
}
.back{
  height: 80.2vh;
  background: var(--bg-color);
}
* {
  scrollbar-width: auto;
  scrollbar-color:  #1d2b3a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-red-color);
  border-radius: 10px;
  border: 3px solid var(--bg-color);
}
.main{
  background-color: var(--bg-color);
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}